@using CheckIt.Web.Models.Catalog
@model CheckIt.Web.Models.Search.SearchEntryModel
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(Model != null && !String.IsNullOrEmpty(Model.QueryText))
{
    <h2>Search Result for <i>@Html.DisplayFor(model => model.QueryText)</i> </h2>
    @Html.Partial("_Search")
    <br />
    <h3>Available Checklists</h3>
    @Html.Partial("_ChecklistSummaryList", Model.Result)
}
