@using CheckIt.Web.Models.Catalog
@using CheckIt.Web.Infras.Extensions
@model CheckIt.Web.Models.Search.SearchEntryModel
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(Model != null && !String.IsNullOrEmpty(Model.QueryText))
{
    <h2>Search Result for <i>@Html.DisplayFor(model => model.QueryText)</i> </h2>
    @Html.Partial("_Search")
    <br />
    if(Model.Result != null)
    {
        <h3>Available Checklists</h3>
        @Html.Partial("_ChecklistSummaryList", Model.Result)

        @Html.Pagination(Model.Ids.Length, Model.CurrentPage);
    }
}
