@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p><strong>CheckIt</strong></p>
<p>Este proyecto surge como una solución a la necesidad de contar con una herramienta que apoye en el proceso de
aseguramiento de la calidad de productos y tareas; principalmente aquellos dirigidos al desarrollo de software. Es del
conocimiento general que las listas de revisión son una herramienta valiosa para  el aseguramiento de la calidad;
muchos autores concuerdan en que la revisión personal del trabajo realizado es el mejor filtro para localizar defectos,
desafortunadamente las capacidades de memoria y concentración del hombre son limitadas, por ello se crearon las
listas de revisión.</p>
