@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Hassan Reyes<br />
    ITESM - MST<br />
    <abbr title="Phone">P:</abbr>
    (52) 1 8116402475
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:hassan.reyes@gmail.com">hassan.reyes@gmail.com</a><br />
</address>