@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CheckIt</h1>
    <p class="lead">CheckIt es una aplicación web que gracias a su extensa base de datos de listas de revisión basadas en estándares
y sugeridas por expertos en la materia, ayuda a sus usuarios a construir, administrar y compartir listas de revisión para
el aseguramiento de calidad de sus productos y tareas. Gracias a su carácter social, CehckIt permite a sus usuarios
compartir y valorar puntos a revisar, de modo que la base de datos de listas de revisión es alimentada y se adaptan a sus usuarios.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Search</h2>
        <p>Enter the keywords about the product or process you would like to check.</p>
        <!--p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></!--p-->
    </div>
    <div class="col-md-4">
        <h2>Discover</h2>
        <p>Browse among hundreds of topics and build your own checklist.</p>
    </div>
    <div class="col-md-4">
        <h2>Create</h2>
        <p>Start from scratch. It's so easy like just start typing.</p>
    </div>
</div>