

@***
    <script type="text/javascript">
        $(document).ready(function() {
            $("#Title").click(function () {

            });
        });
    </script>

    <div id="MyChecklist">
        <h2 id="Title"></h2>
        <details id="Desc">
            <summary></summary>
        </details>
        <div id="Content">
            <h3 id="Section-Title"></h3>
            <p id="Section-Desc"></p>
            <ol></ol>
        </div>
    </div>
*@